.root{
    -fx-background-image: url(http://www.elgransrj.com/media/wysiwyg/toy-story-background-slide-4-savedforweb.png) 25%;
    -fx-background-size: cover;
}

.MazeDisplayer{
    -fx-border-color: black;
}

.button
{
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-border-color: yellow;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}